.menu {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--white_solid);
  box-shadow: 0 2px 2px var(--white_solid);
  padding: 0 2rem;
}

.menu_item {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark);
  font-weight: 600;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.menu_item:hover {
  color: var(--clear_blue);
}

.hide {
  display: none;
}

@media screen and (max-width: 1200px) {
  .menu {
    gap: 2rem;
  }
  .menu_item {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 8vh;
    justify-content: space-around;
    padding: 1rem 2rem;
    box-shadow: 0 -2px 2px var(--white_solid);
    background-color: var(--white);
    z-index: 1000;
  }

  .menu_item {
    font-size: 1.3rem;
    color: var(--clear_blue);
  }

  .menu_item:hover {
    color: var(--ruri_blue);
  }
}

@media screen and (max-width: 480px) {
  .menu {
    min-height: 6vh; 
    gap: 1rem; 
    padding: 0.5rem 1rem; 
  }
}
