.shop {
  position: relative;
}

.shop_container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
