.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0 2px 2px var(--white_solid);
  padding: 0 2rem;
}

.logo {
  width: auto;
  height: 8vh;
}

.middle_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white_solid);
  padding: 0.2rem 1rem;
}

.search_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: var(--clear_blue);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.search_button:hover {
  color: var(--ruri_blue);
}

.search_input {
  border: none;
  width: 30vw;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--white_solid);
  outline: none;
}

.right_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav_button {
  font-size: 1.6vw;
  color: var(--clear_blue);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.nav_button:hover {
  color: var(--ruri_blue);
}

.profile_container {
  position: relative;
}

.profile_option {
  position: absolute;
  top: 3.5rem;
  right: 0.5rem;
  background: var(--white);
  border: 1px solid var(--white_solid);
  border-radius: 0.1rem;
  box-shadow: 0 2px 10px var(--white_solid);
  z-index: 1000;
}

.profileOption_item {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 30px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark);
  transition: 0.2s ease-in-out;
}

.profileOption_item:hover {
  background-color: var(--clear_blue);
  color: var(--white);
}

@media screen and (max-width: 1200px) {
  .logo {
    height: 6vh;
  }

  .right_navbar {
    gap: 1.5rem;
  }

  .nav_button {
    font-size: 1.3rem;
  }
  .profileOption_item {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .middle_navbar {
    display: none;
  }
}

@media screen and (max-width: 480px) {
}
